<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="~/Views/Admin/template/header.cshtml" />
    <link rel="stylesheet" href="~/css/AdminPage.css">
    <title>Trang sửa khuyến mãi</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <partial name="~/Views/Admin/template/navigation.cshtml" />
    <div class="row flex-grow-1 m-0">
        <partial name="~/Views/Admin/template/sidebar.cshtml" />
        <div class="col-md-10 bg-light">
            <h1>Sửa thông tin khuyến mãi</h1>
            <hr>
            <form action="~/admin/promotions/edit_promotion" method="post" class="mr-4 text-center" enctype="multipart/form-data">
                <h4>Thông tin khuyến mãi</h4>

                <label for="product" class="col-md-2"> Sản phẩm: </label>
                <select class="custom-select p-2 m-2 col-md-6 rounded form-control-lg" id="product" name="product">
                    @foreach (var product in ViewBag.products)
                    {
                        @if (product.product_id == ViewBag.promotion.product_id)
                        {
                            <option value="@product.product_id" selected>@product.product_name</option>
                        }
                        else
                        {
                            <option value="@product.product_id">@product.product_name</option>
                        }
                    }
                </select><br />

                <label for="quantity" class="col-md-2">Ngày bắt đầu: </label>
                <input class="p-2 m-2 col-md-6 rounded" type="date" name="valid_date" id="valid_date"
                       value="@ViewBag.promotion.valid_date.ToString("yyyy-MM-dd")" required><br />

                <label for="cost" class="col-md-2">Ngày kết thúc: </label>
                <input class="p-2 m-2 col-md-6 rounded" type="date" name="expiry_date" id="expiry_date"
                       value="@ViewBag.promotion.expiry_date.ToString("yyyy-MM-dd")" required><br />

                <label for="quantity" class="col-md-2">Giảm giá: </label>
                <input class="p-2 m-2 col-md-6 rounded" type="number" name="discount"
                       id="discount" min="1" max="99" value="@(ViewBag.promotion.discount * 100)" required><br />

                <input type="hidden" value="@ViewBag.promotion.promotion_code" name="promotion_code">

                <div class="col-md-8 ml-4 p-4 d-inline">
                    <button type="submit" class="btn bg-success m-2 text-dark font-weight-bold">Lưu</button>
                    <button type="button" class="btn bg-danger m-2 text-decoration-none">
                        <a href="~/admin/promotions" class="text-decoration-none text-dark font-weight-bold">Hủy</a>
                    </button>
                </div>
            </form>

        </div>
        <script>
            $("#expiry_date").change(function () {
                var startDate = document.getElementById("valid_date").value;
                var endDate = document.getElementById("expiry_date").value;

                if ((Date.parse(startDate) >= Date.parse(endDate))) {
                    alert("Ngày bắt đầu phải nhỏ hơn ngày kết thúc khuyến mãi");
                    document.getElementById("expiry_date").value = "";
                }
            });

            $("#valid_date").change(function () {
                var startDate = document.getElementById("valid_date").value;
                var endDate = document.getElementById("expiry_date").value;

                if ((Date.parse(startDate) >= Date.parse(endDate))) {
                    alert("Ngày bắt đầu phải nhỏ hơn ngày kết thúc khuyến mãi");
                    document.getElementById("valid_date").value = "";
                }
            });
        </script>
</body>

</html>