<h1>This is Product Page</h1>
@*@foreach(var product in ViewBag.products)
    {
        <p>ID: @product.ID</p>
        <p>Name: @product.TenSP</p>
        <p>Category: @product.LoaiSP</p>
        <p>Price: @product.Gia</p>
        <br />
    }*@


@foreach (var item in ViewBag.datas)
{
    <p>@item.ID</p>
    <p>@item.TenSP</p>
    <p>@item.LoaiSP</p>
    <p>@item.SoLuong</p>
    <p>@item.Gia</p>
    <br />
}

