<h1>This is Landing Page</h1>
<h3>Test Data</h3>
@foreach(var product in ViewBag.data)
{
    <p>@product.product_id</p>
    <p>@product.product_name</p>
    <p>@product.category_id</p>
    <p>@product.brand_id</p>
    <p>@product.price</p>
    <p>@product.status</p>
    <p>@product.image</p>
}
